@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root{
    /*Font Configs*/
    --font-primary: 'Vollkorn', Georgia, serif;

    /*Light Style*/
    --purple-gradient: linear-gradient(-135deg, #8844EE, #B07DFB);
    --dark-purple: #8844EE;
    --light-purple: #B07DFB;
    --dark-opacity: #2b213c65;
    --dark-opacity-hover: #2b213c43;
    --light-gray: rgb(240, 240, 240);


    --dark-gradient: linear-gradient(-135deg, #1f152e, #2f1557);
    --dark-primary: #1f152e;
    --dark-secondary: #2f1557;
}

/*Reset CSS*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: var(--font-primary);
    transition: all .3s;
}

img{
    display: block;
    max-width: 100%;
}

body{
    scroll-behavior: smooth;
}

/*Grid Geral*/

.estrutura{
    display: grid;
    grid: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}

/*Header*/
.header{
    /*Definindo grid area dele dentro da estrutura criada acima*/
    grid-area: header;

    background: var(--purple-gradient);
    padding: 1.2rem;

    /*Definindo display grid para header*/
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header .logo{
    max-width: 10rem;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header nav a{
    /*Display*/
    display: block;

    /*Font*/
    font-size: 1.125rem;
    color: var(--light-gray);
    
    /*Padding 4 Button*/
    padding: .4rem 1.5rem;
    background: var(--dark-opacity);
    border-radius: 5px;

    /*Transitions*/
    transition: all .2s;
}

.header nav a:hover{
    background: var(--dark-opacity-hover);
}

.header li + li{
    margin-left: 30px;
}

.sidenav{
    grid-area: sidenav;
}

.content{
    grid-area: content;
}